<div class="jumbotron center">

    <h1>Welcome, Cat Lover!</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Suspendisse consequat libero ac elit euismod egestas. Mauris nec nisl 
    ornare, vulputate purus id, posuere enim. Aenean mauris elit, vestibulum 
    sed ante et, tincidunt euismod risus. Fusce bibendum nunc ut velit elementum 
    malesuada.</p>

    <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-default' %>
        <%= link_to 'List Pins ', pins_path, class: 'btn btn-default' %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: 'btn btn-default' %>
        <%= link_to "Join", new_user_registration_path, class: 'btn btn-primary' %>
    <% end %>

</div>