<h1> Welcome Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Suspendisse consequat libero ac elit euismod egestas. Mauris nec nisl 
ornare, vulputate purus id, posuere enim. Aenean mauris elit, vestibulum 
sed ante et, tincidunt euismod risus. Fusce bibendum nunc ut velit elementum 
malesuada. Nunc tincidunt orci ut ultrices hendrerit. Praesent ipsum quam, 
mollis non nulla id, congue ullamcorper leo. Integer a semper risus, sed
ultrices libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
Sed vel metus pulvinar, volutpat elit non, posuere quam. Nullam sit amet purus 
vitae sapien egestas elementum. Pellentesque habitant morbi tristique senectus 
et netus et malesuada fames ac turpis egestas. Integer pharetra lectus non dui 
ultrices, ac convallis magna lobortis. 
Nulla sodales, nibh a mollis dignissim, neque est vulputate massa, eget 
vulputate leo dolor quis augue.</p>

    <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-default' %>
        <%= link_to 'List Pins ', pins_path, class: 'btn btn-default' %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: 'btn btn-default' %>
        <%= link_to "Join", new_user_registration_path, class: 'btn btn-primary' %>
    <% end %>
